In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('KFC_Past_Sales_Dataset.csv')

In [3]:
df.head()

   Year Month    Country  Branch_ID   Sales  Customers  Marketing_Spend
0  2022   Aug         UK  KFC_UK_01  206611       4568            23891
1  2018   May      India  KFC_IN_01   69645       1715             6190
2  2020   Nov         UK  KFC_UK_01  170226       4672             6706
3  2024   Dec  Australia  KFC_AU_01   90483       2363            17230
4  2019   Nov         UK  KFC_UK_01   94260       2207            28050

In [4]:
df.head(30)

    Year Month    Country  Branch_ID   Sales  Customers  Marketing_Spend
0   2022   Aug         UK  KFC_UK_01  206611       4568            23891
1   2018   May      India  KFC_IN_01   69645       1715             6190
2   2020   Nov         UK  KFC_UK_01  170226       4672             6706
3   2024   Dec  Australia  KFC_AU_01   90483       2363            17230
4   2019   Nov         UK  KFC_UK_01   94260       2207            28050
5   2022   May        USA  KFC_US_02  189992       5295            15257
6   2022   Sep        USA  KFC_US_03   99014       2540             7574
7   2024   May  Australia  KFC_AU_02  114899       2261            26720
8   2024   Oct      India  KFC_IN_02  194123       5778            15005
9   2022   Mar         UK  KFC_UK_02  163634       4182            29810
10  2018   Aug      India  KFC_IN_03  109067       2186            19441
11  2024   Mar     Canada  KFC_CA_02   90433       1846            23977
12  2019   May     Canada  KFC_CA_01  135809       3626            23403
13  2024   Jun  Australia  KFC_AU_02  181587       4365            11352
14  2022   Apr         UK  KFC_UK_01  201090       4176            21522
15  2023   May      India  KFC_IN_04   77166       2620             6426
16  2022   Mar     Canada  KFC_CA_02  164555       5157            20159
17  2019   May         UK  KFC_UK_02  107629       1988            20157
18  2022   Nov      India  KFC_IN_02  129818       2428            20558
19  2019   Dec      India  KFC_IN_02  173113       4375            19988
20  2022   May     Canada  KFC_CA_02  113315       3591            23540
21  2019   Nov         UK  KFC_UK_01   86516       2667            17174
22  2023   Aug     Canada  KFC_CA_01  259511       5801            10068
23  2020   Mar        USA  KFC_US_02  113103       3228             6579
24  2021   Dec  Australia  KFC_AU_01  144805       2715            28060
25  2024   Jul         UK  KFC_UK_02   67717       1860            15637
26  2022   Dec        USA  KFC_US_03  142933       3260             6013
27  2019   Nov         UK  KFC_UK_02  254973       5252            29137
28  2019   Feb         UK  KFC_UK_01  130683       4324             5287
29  2020   Jan     Canada  KFC_CA_01  122939       4038             5837

In [5]:
df.tail()

      Year Month Country  Branch_ID   Sales  Customers  Marketing_Spend
7995  2024   Oct     USA  KFC_US_01   96578       3333             9920
7996  2018   May      UK  KFC_UK_01  187718       5976            14414
7997  2024   Mar      UK  KFC_UK_02  125390       3388            16974
7998  2020   Aug  Canada  KFC_CA_01  110981       2849             5568
7999  2019   Nov  Canada  KFC_CA_02   69215       2230             9005

In [6]:
df.tail(20)

      Year Month    Country  Branch_ID   Sales  Customers  Marketing_Spend
7980  2022   Mar     Canada  KFC_CA_02  221155       5389            10984
7981  2023   Dec      India  KFC_IN_02  165937       5840            19937
7982  2021   Feb  Australia  KFC_AU_01  192024       5457            22857
7983  2018   Oct         UK  KFC_UK_02  130699       2650            11449
7984  2021   Jun         UK  KFC_UK_02  129956       2975            22856
7985  2024   Oct     Canada  KFC_CA_01  179032       4383            16861
7986  2022   Jan     Canada  KFC_CA_01  108949       2734            26929
7987  2023   Dec      India  KFC_IN_04  165126       3963            22458
7988  2018   Feb         UK  KFC_UK_01  199295       5173            18240
7989  2023   Jan     Canada  KFC_CA_01   79337       2845             5367
7990  2019   Mar     Canada  KFC_CA_01  278525       5993            20826
7991  2018   Feb  Australia  KFC_AU_02  162583       5687            14721
7992  2022   Jun        USA  KFC_US_01  193084       4265            22484
7993  2024   Oct         UK  KFC_UK_01   84456       2828             5272
7994  2021   Jan        USA  KFC_US_03  130229       4488             9053
7995  2024   Oct        USA  KFC_US_01   96578       3333             9920
7996  2018   May         UK  KFC_UK_01  187718       5976            14414
7997  2024   Mar         UK  KFC_UK_02  125390       3388            16974
7998  2020   Aug     Canada  KFC_CA_01  110981       2849             5568
7999  2019   Nov     Canada  KFC_CA_02   69215       2230             9005

In [7]:
df.sample(5)

      Year Month    Country  Branch_ID   Sales  Customers  Marketing_Spend
1838  2019   Sep  Australia  KFC_AU_02  243669       5399            22310
3212  2019   Feb      India  KFC_IN_04   86147       3022            10597
6099  2020   Mar     Canada  KFC_CA_02   93623       1773            20930
6428  2020   Feb     Canada  KFC_CA_02  139204       3967            12260
1625  2023   Nov        USA  KFC_US_01  269765       5561            19520

In [8]:
df.shape

(8000, 7)

In [9]:
df.columns

Index(['Year', 'Month', 'Country', 'Branch_ID', 'Sales', 'Customers',
       'Marketing_Spend'],
      dtype='str')

In [10]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             8000 non-null   int64
 1   Month            8000 non-null   str
 2   Country          8000 non-null   str
 3   Branch_ID        8000 non-null   str
 4   Sales            8000 non-null   int64
 5   Customers        8000 non-null   int64
 6   Marketing_Spend  8000 non-null   int64
dtypes: int64(4), str(3)
memory usage: 437.6 KB

In [11]:
df.describe()

              Year          Sales    Customers  Marketing_Spend
count  8000.000000    8000.000000  8000.000000      8000.000000
mean   2021.010875  148837.878625  3737.376875     17557.908250
std       2.002813   52360.720217  1306.584933      7183.115842
min    2018.000000   45193.000000  1500.000000      5001.000000
25%    2019.000000  105914.500000  2609.000000     11310.000000
50%    2021.000000  144951.500000  3724.000000     17642.500000
75%    2023.000000  185739.250000  4885.000000     23716.500000
max    2024.000000  293162.000000  6000.000000     30000.000000

In [12]:
df.isnull().sum()

Year               0
Month              0
Country            0
Branch_ID          0
Sales              0
Customers          0
Marketing_Spend    0
dtype: int64

In [13]:
!pip install pymysql sqlalchemy

'pip' is not recognized as an internal or external command,
operable program or batch file.

In [16]:
!python -m pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\mdsha\appdata\local\python\pythoncore-3.14-64\lib\site-packages (2.0.46)
Requirement already satisfied: greenlet>=1 in c:\users\mdsha\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mdsha\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from sqlalchemy) (4.15.0)

In [20]:
from sqlalchemy import create_engine

# Load CSV
df = pd.read_csv('KFC_Past_Sales_Dataset.csv')

# Connect to MySQL
engine = create_engine("mysql+pymysql://root:@localhost:3306/KFC_Past_Sales")

# Write
df.to_sql('kfc_sales', con=engine, if_exists='replace', index=False)

# Read
df_mysql = pd.read_sql('kfc_sales', con=engine)
df_mysql.head()

   Year Month    Country  Branch_ID   Sales  Customers  Marketing_Spend
0  2022   Aug         UK  KFC_UK_01  206611       4568            23891
1  2018   May      India  KFC_IN_01   69645       1715             6190
2  2020   Nov         UK  KFC_UK_01  170226       4672             6706
3  2024   Dec  Australia  KFC_AU_01   90483       2363            17230
4  2019   Nov         UK  KFC_UK_01   94260       2207            28050